<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16829651134"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'AW-16829651134');
    </script>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1>Book your next adventure: affordable flights to your dream destinations!</h1>

    <form action="/flight" method="post">
        <label>Звідки</label>

        <select name="fromCity">
            <option value="Kyiv">Kyiv</option>
            <option value="Rome">Rome</option>
            <option value="Lisbon">Lisbon</option>
            <option value="London">London</option>
            <option value="New York">New York</option>
        </select>

        <label>Куди</label>
        <select name="destinationCity">
            <option value="Rome">Rome</option>
            <option value="Lisbon">Lisbon</option>
            <option value="London">London</option>
            <option value="New York">New York</option>
            <option value="Kyiv">Kyiv</option>
        </select>

        <label>Дата вильоту</label>
        <input type="date" name="departDate">

        <label>Дата повернення</label>
        <input type="date" name="returnDate">

        <button type="submit">Search</button>
    </form>


</body>
</html>
